
@{
    ViewBag.Title = "DoanhThu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê doanh thu theo ngày</h2>

<div class="row">
    
</div>
@using (Html.BeginForm("DoanhThu", "ThongKe", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-1">
            <p>Nhập ngày:</p>
        </div>
        <dov class="col-md-3 form-inline">
            <div class="form-group">
                <input type="date" name="date" class="form-control" />
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </dov>
    </div>
   
}
